spring:
  profiles:
    active: dev
  application:
    name: template
  
  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

